.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Home CSS */

.App-header {
  /* background-color: #282c34; */
  background-image: url('./assets/bg.jpeg');
  background-repeat: no-repeat;
  /* min-height: 100vh; */  
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  opacity: 0.8;
}

.App-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.App-title {
  color: #245664;
}

.App-service2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-service2img {
  border-radius: 20px;
  margin-bottom: 10px;
}

/* End Home CSS */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
